{% extends 'base.html.twig' %}

{% block title %}
	Nystron Solar | Admin - Upload Generation Report
{% endblock %}

{% block main %}
	<main class="my-5 text-light d-flex flex-column align-items-center">
		<h1>Upload Generation Report</h1>
		<a href="{{ path('app.admin.index') }}" class="mb-3">Back to Admin Index</a>

		<form action="{{ path('app.admin.uploads.reports.generation') }}" method="post" enctype="multipart/form-data" class="w-50">
			{% for error in errors %}
				<div class="alert alert-danger mt-1 w-100" role="alert">
					{{ error.messageTemplate }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger mt-1 w-100" role="alert">
					{{ message }}
				</div>
			{% endfor %}
			<div class="mb-3">
				<input class="form-control mt-2 mb-2l" type="file" id="report" name="report" accept=".xls, .xlsx" required autofocus>
			</div>
			<input type="hidden" name="token" value="{{ csrf_token('report-generation') }}"/>
			<div class="mb-3"></div>
			<button class="w-100 btn btn-lg btn-primary" type="submit">Submit!</button>
		</form>
	</main>
{% endblock %}
