{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
	<main class="container m-5 text-light d-flex flex-column align-items-center">
    <img class="rounded mb-4" src="/assets/images/nystron-solar-logo.jpg" alt="" width="130" height="112">
    <h1 class="h3 mb-3 fw-normal">Sign in to Nystron Solar</h1>

    {% if error %}
    <div class="alert alert-danger mt-1 w-100" role="alert">
        {{ error.messageKey }}
    </div>
    {% endif %}

    <form action="{{ path('app.security.login') }}" method="post" class="w-50">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app.security.logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="form-floating pb-2">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" value="{{ last_username }}" autocomplete="email" required autofocus>
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" autocomplete="password" required>
            <label for="floatingPassword">Password</label>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <div class="mb-3"></div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</main>
{% endblock %}
