{% extends 'base.html.twig' %}

{% block head %}{% endblock %}

{% block title %}
	Nystron Solar |
	{{ 'base.admin'|trans|raw }}
	-
	{{ 'base.clients'|trans|raw }}
{% endblock %}

{% block main %}
	<main class="p-3">
		<h1 class="text-white">{{ 'route.admin.clients.index.title'|trans|raw }}</h1>
		<a href="{{ path('app.admin.index') }}">{{ 'route.admin.base.back_admin_index'|trans|raw }}</a>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<table class="table table-bordered table-striped table-dark mt-3">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">{{ 'base.forms.name'|trans|raw }}</th>
					<th scope="col">Email</th>
					<th scope="col">{{ 'base.roles'|trans|raw }}</th>
					<th scope="col">{{ 'base.growatt_name'|trans|raw }}</th>
				</tr>
			</thead>
			<tbody>
				{% for client in clients %}
					<tr>
						<th scope="rol">
							<a href="{{ path('app.admin.clients.show', {client: client.Id}) }}" class="text-light">{{ client.Id }}</a>
						</th>
						<td>{{ client.Name }}</td>
						<td>{{ client.Email }}</td>
						<td>{{ client.Roles }}</td>
						<td>{{ client.GrowattName }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('app.admin.clients.new') }}">{{ 'route.admin.clients.index.add_new_client'|trans|raw }}</a>
	</main>
{% endblock %}
