<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Nystron Solar{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% block head %} {% endblock %}
</head>

<body>
    {% block header %}
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-between p-5">
                <a href="/" class="d-flex align-items-center text-light text-decoration-none">
                    <img class="rounded me-4" src="/assets/images/nystron-solar-logo.jpg" alt="" width="65" height="56">
                    <span class="fs-4 navbar-brand">Nystron Solar</span>
                </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div>
                        <div class="navbar-nav collapse navbar-collapse" id="navbarNavAltMarkup">
                            <a class="nav-link px-3" href="/">{{ 'base.homepage'|trans|raw }}</a>
                            {% if app.user %}
                                <a class="nav-link px-3" href="{{ path('app.security.logout') }}">{{ 'base.logout'|trans|raw }}</a>
                                <a class="nav-link px-3" href="{{ path('app.dashboard.index') }}">{{ 'base.dashboard'|trans|raw }}</a>
                                {% if 'ROLE_ADMIN' in app.user.getroles %}
                                    <a class="nav-link px-3" href="{{ path('app.admin.index') }}">{{ 'base.admin'|trans|raw }}</a>
                                {% endif %}
                            {% endif %}
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Idioma
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{{ path(app.request.get('_route'), {_locale: 'pt'}) }}">Português</a></li>
                                <li><a class="dropdown-item" href="{{ path(app.request.get('_route'), {_locale: 'es'}) }}">Español</a></li>
                                <li><a class="dropdown-item" href="{{ path(app.request.get('_route'), {_locale: 'en'}) }}">English</a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </nav>
        </header>
    {% endblock %}
    {% block main %}{% endblock %}
    {% block footer %}
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-5 px-3 bg-body-tertiary">
            <p class="col-md-4 mb-0 text-secondary">2023 Nystron Solar</p>

            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img class="rounded" src="/assets/images/nystron-solar-logo.jpg" alt="" width="65" height="56">
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item">
                    <a href="{{ path('app.index' )}}" class="nav-link px-2 text-secondary">{{ 'base.homepage'|trans|raw }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app.dashboard.index' )}}" class="nav-link px-2 text-secondary">{{ 'base.dashboard'|trans|raw }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app.info.contact' )}}" class="nav-link px-2 text-secondary">{{ 'base.contact'|trans|raw }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app.info.credits' )}}" class="nav-link px-2 text-secondary">{{ 'base.credits'|trans|raw }}</a>
                </li>
            </ul>
        </footer>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>