{% extends 'base.html.twig' %}

{% block main %}
	<main class="p-3 text-light">
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Nystron Solar ⚡</h1>
				<p class="lead .text-secondary-emphasis">
					{{ 'route.index.title.text'|trans({'%open_bold%': '<span class="fw-bold">', '%close_bold%': '</span>'})|raw }}
				</p>
				<p>
					<a href="{{ path('app.info.contact' )}}" class="btn btn-primary m-2">{{'route.index.buttons.contact'|trans}}</a>
					<a href="{{ path('app.security.login' )}}" class="btn btn-secondary m-2">{{'route.index.buttons.i_am_client'|trans}}</a>
				</p>
			</div>
		</section>
	</main>
{% endblock %}
