{% extends 'base.html.twig' %}

{% block head %}{% endblock %}

{% block title %}
	Nystron Solar |
	{{ 'base.dashboard'|trans|raw }}
	-
	{{ 'base.day_generation_list'|trans|raw }}
{% endblock %}

{% block main %}
	<main class="p-3 text-white">
		<h1>{{ 'route.admin.clients.show.generation.title'|trans|raw}}</h1>
		<a href="{{ path('app.dashboard.index') }}">{{ 'route.dashboard.generation.back_dashboard_index'|trans|raw }}</a>
		<table class="table table-bordered table-striped table-dark mt-3">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">{{'base.date'|trans|raw}}</th>
					<th scope="col">{{'base.energy_generated'|trans|raw}}
						(kWh)</th>
					<th scope="col">{{'base.hours_generated'|trans|raw}}</th>
				</tr>
			</thead>
			<tbody>
				{% for dayGeneration in dayGenerations %}
					<tr>
						<th
							scope="rol">
							<p class="text-light">{{ dayGeneration.id }}</p>
						</th>
						<td>{{ dayGeneration.date|date('base.date_format'|trans|raw)}}</td>
						<td>{{ dayGeneration.generation }}
							kWh</td>
						<td>{{ dayGeneration.hours }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
